In [1]:
print("Hello world")

Hello world

# My First Attempt to write Python Code on Jupyter Notebook

In [2]:
def add_numbers(a,b):
    """
    Add Two Numbers Together
    
    Returns
    ------
    the_sum: type of arguments

    Args:
        a (_type_): number
        b (_type_): number
    """
    
    return a + b

add_numbers(2,12)

14

In [3]:
# tup = (4,5,6)

# # print(tup)

# tup = 4,5,6

# print(tup)

tup = tuple('string')
print(tup)

tup = (4,5,6)

a , b , c = tup

print(a,b,c)

('s', 't', 'r', 'i', 'n', 'g')
4 5 6

In [4]:
tup = 4, 5, (6, 7)
print(tup)

(4, 5, (6, 7))

In [5]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
 
for a , b , c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [6]:
values = 1 , 2 , 3 , 4 , 5
a,b, *rest = values

print(a,b , rest)

1 2 [3, 4, 5]